body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
}

.logo{
    width: 100px;
    margin-left: 50px;
}

.navigation {
    display: flex;
    list-style: none;
  
  
}



