body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;

}

.logo{
    
  display: block;
  max-width:130px;
  max-height: 100px;
  /* width: auto;
  height: auto; */
  
}

.globe-search {
    border: none;
    background: none;
    /* padding: 0; */
}
.search1 img {
    width: 20px;
    height: 20px;
}


.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.nav-links i {
    margin-right: 10px;
}

.register-btn{
    text-decoration: none ;
    color: black;

}

.search-bar {
 width: 50%;
 margin: 10px auto;
 border: 1px solid black;
 border-radius: 50px;
 padding: 15px 15px 10px 40px;
}

.space :hover{
    background-color: grey;
}
.space1 :hover{
    background-color: grey;
}
.space2 :hover{
    background-color: grey;
}
.space3 :hover{
    background-color: grey;
}


.search-bar form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search-bar form input{
    display: block;
    border: 0;
    background: transparent;
    outline: none;
}
.search-button{
    padding: 0;
    border: none;
    background: none;
    
}

.search-button img{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.space{
    flex: 1
}

.pictures {
    display: grid;         
    grid-gap: 30px;            
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    margin: 70px;


}

img {
    width: 100%;            
    border-radius: 20px;
    /* height: 80%; */
    aspect-ratio: 1/1;
    object-fit: cover;
   
   
}
svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 25px;
    fill: white;

}
.search{
    background-color: red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
}




/* past experiences */

.experiences{
    /* display: grid;         
    grid-gap: 30px;            
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    margin: 75px; */

    display: flex;
    flex-wrap: wrap;
    margin: 75px;
    column-gap: 30px;
}

.experiences div {
   width: 300px;
}

.experiences div img{
    width: 100%;            
    border-radius: 10px;
}

.title2{
    margin: 75px;
}

.nav-links2 {
    display: flex;
    column-gap: 10px;
    margin: -30px 6px 6px -85px;
}

.nav-links2 li {
    display: block;
    list-style: none;
    margin: 20px;
}


.nav-links2 li a{
    text-decoration: none;
    color: black;
}

h2 {
 text-align: left;
 margin-left: 75px;
}


.nav-links3 {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(6 ,minmax(0px, 1fr));
    margin: 0px;
    padding: 0px;

    

}

.nav-links3 li{
    /* display: block; */
    list-style: none;
    margin: 0px;
    padding: 0px;
    
    
    
}





